/*Week 2 added CSS */

/*
main,
footer {
    padding: 20px;
    margin-top: 20px;
}
*/


/* Footer */


footer {
    background-image: url("../images/topo_pattern.png");
    ;
    padding: 1.5em;
}

.park-footer h3 {
    font-family: var(--bs-font-serif);
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.park-footer h4 {
    margin-top: 0.8em;
    margin-bottom: 0.5rem;
    font-size: 0.8em;
}

.park-footer p {
    font-size: 0.8em;
    line-height: 1;
    color: var(--bs-grey-2);
    margin: 0.5rem 0;
}